@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Noto+Sans+KR:wght@300;400&family=Oswald&family=Parisienne&family=Poiret+One&family=Quicksand:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

.h {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.wrap::after {
  content: '';
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*input*/
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  outline: none;
  border: 2px solid #ff6200 !important;
}

/*radio*/
.radio {
  position: relative;
}

.radio input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.radio input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.radio input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.radio input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #ff6200;
  border-radius: 100%;
}

/*checkbox*/
.checks {
  position: relative;
}

.checks input[type="checkbox"] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checks input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
}

.checks input[type="checkbox"]:checked + label:before {
  content: '';
  background: url(../img/ico/ico_chk.png) no-repeat center;
  background-size: 9px 7px;
  background-color: #ff6200;
}

/*sub layout ----------------------------------------------*/
/*heder_sub----------------------------------------------*/
#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

#header_sub .inner {
  width: 1180px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
}

#header_sub .inner > h1 > a {
  font: bold 40px/1 "Oswald";
  color: #444;
  color: #ff6200;
  letter-spacing: 5px;
}

#header_sub .inner #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}

#header_sub .inner #gnb li {
  float: left;
}

#header_sub .inner #gnb li a {
  display: block;
  padding: 14px 40px;
  font: bold 14px/1 "Quicksand";
  color: #777;
}

#header_sub .inner #gnb li a:hover {
  background: #ee7b34;
  color: #fff;
}

#header_sub .inner .util {
  position: absolute;
  top: 20px;
  right: 40px;
}

#header_sub .inner .util li {
  float: left;
  margin-left: 20px;
}

#header_sub .inner .util li a {
  font: 12px/1 "Quicksand";
  color: #999;
}

#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}

#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}

#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}

#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: 0.5s;
}

#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}

#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}

#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}

#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #333;
  padding: 35px 30px;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  transition: 0.5s;
}

#header_sub .inner .menuMo.on {
  left: 0;
}

#header_sub .inner .menuMo h1 {
  border-bottom: 1px solid #666;
  padding-bottom: 30px;
}

#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "Quicksand";
  color: #fff;
  text-align: center;
}

#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}

#header_sub .inner .menuMo ul li a {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "Quicksand";
  color: #888;
  text-align: center;
}

/*sub layout content ---------------------------------------*/
.content {
  width: 100%;
  padding: 60px 0 60px;
}

.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}

.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}

.content .inner h1 {
  position: relative;
  font: normal 50px/1 'Quicksand';
  color: #000;
  margin-bottom: 50px;
  transition: 0.5s;
}

.content .inner h1::after {
  width: 35px;
}

.content .inner h1 span {
  font: normal 20px/1 '맑은 고딕';
  color: #aaa;
}

.content .inner h1 span::before {
  content: '/';
  margin-left: 20px;
  margin-right: 10px;
}

.content .inner h1::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #ee7b34;
}

/*footer sub---------------------------------------*/
#footer_sub {
  width: 100%;
  padding: 50px 0;
  background: #444;
}

#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}

#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}

#footer_sub .inner h1 {
  float: left;
  font: bold 24px/1 "Quicksand";
  color: #666;
}

#footer_sub .inner ul {
  float: right;
}

#footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
}

#footer_sub .inner ul li a {
  font: bold 14px/1 "Quicksand";
  color: #666;
}

#footer_sub .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "Quicksand";
  color: #777;
  border-top: 1px solid #888;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

#footer_sub .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "Quicksand";
  color: #777;
}

/*sub layout tablet ------------------------------ ------------*/
@media screen and (max-width: 1179px) {
  /*header sub tablet ---------------------------------*/
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner > h1 {
    left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }
  /*sub layout content tablet --------------------------*/
  .content .sub_visual {
    height: 200px;
    margin-bottom: 80px;
  }
  .content .inner {
    width: 100%;
    min-height: 400px;
    padding: 0 30px;
  }
  /*footer sub tablet ---------------------------------*/
  #footer_sub {
    padding: 40px 30px;
  }
  #footer_sub .inner {
    width: 100%;
  }
}

/*sub layout mobile ------------------------------------------*/
@media screen and (max-width: 539px) {
  /*sub layout content mobile --------------------------*/
  .content .sub_visual {
    height: 150px;
    margin-bottom: 50px;
  }
  .content .inner {
    min-height: 300px;
  }
  .content .inner h1 {
    font-size: 40px;
  }
  .content .inner h1 span {
    display: block;
    margin-top: 10px;
  }
  .content .inner h1 span::before {
    margin-left: 0;
  }
  /*footer sub mobile ----------------*/
  #footer_sub .inner ul {
    margin-top: 20px;
    float: left;
  }
  #footer_sub .inner ul li {
    margin: 0 10px 0 0;
  }
}

.community {
  padding: 0;
}

.community h2 {
  position: relative;
  font-size: 3em;
  margin-bottom: 50px;
}

.community h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ee7b34;
}

.community .top_box {
  background: #f0f8ed;
  padding: 60px;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.community .top_box .pic {
  width: 80%;
  height: 500px;
}

.community .top_box .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community .top_box .text_box {
  position: absolute;
  top: 48%;
  right: 10%;
  transform: translateY(-50%);
  height: 300px;
  width: 500px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  padding: 40px;
}

.community .top_box .text_box h1 {
  position: relative;
}

.community .top_box .text_box h1::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #ee7b34;
}

.community .top_box .text_box p {
  margin-top: 50px;
}

.community .inner .journal_list ul:after {
  content: '';
  display: block;
  clear: both;
}

.community .inner .journal_list ul li {
  float: left;
  width: 25%;
  height: 500px;
  background: #111;
  box-sizing: border-box;
}

.community .inner .journal_list ul li:nth-of-type(1) {
  background: #c0bea8;
}

.community .inner .journal_list ul li:nth-of-type(2) {
  background: none;
}

.community .inner .journal_list ul li:nth-of-type(3) {
  background: #fe460c;
}

.community .inner .journal_list ul li:nth-of-type(4) {
  background: #857f97;
}

.community .inner .journal_list ul li:nth-of-type(5) {
  background: #d1ff72;
}

.community .inner .journal_list ul li:nth-of-type(6) {
  background: #9a3030;
}

.community .inner .journal_list ul li:nth-of-type(7) {
  background: none;
}

.community .inner .journal_list ul li:nth-of-type(8) {
  background: none;
}

.community .inner .journal_list ul li:nth-of-type(9) {
  background: #d8dfd7;
}

.community .inner .journal_list ul li:nth-of-type(10) {
  background: none;
}

.community .inner .journal_list ul li:nth-of-type(11) {
  background: #37abfa;
}

.community .inner .journal_list ul li:nth-of-type(12) {
  background: #f0cdd9;
}

.community .inner .journal_list ul li a {
  position: relative;
}

.community .inner .journal_list ul li a .pic {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.community .inner .journal_list ul li a .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community .inner .journal_list ul li a .text_box {
  height: 100%;
  position: relative;
}

.community .inner .journal_list ul li a .text_box h3 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.community .inner .journal_list ul li a .text_box p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.community .inner .faq {
  padding: 80px 50px;
  background: #f4f4f4;
}

.community .inner .faq ul {
  background: #f3eee5;
  padding: 30px 50px;
}

.community .inner .faq ul::after {
  content: '';
  display: block;
  clear: both;
}

.community .inner .faq ul li {
  margin-top: 30px;
  width: 70%;
  float: right;
}

.community .inner .faq ul li .question {
  cursor: pointer;
}

.community .inner .faq ul li .question:after {
  content: '';
  display: block;
  clear: both;
}

.community .inner .faq ul li .question span {
  float: left;
  font-size: 40px;
}

.community .inner .faq ul li .question p {
  position: relative;
  font-size: 35px;
  float: right;
}

.community .inner .faq ul li .question p:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #111;
  bottom: 0;
  right: 0;
}

.community .inner .faq ul li .answer {
  margin-top: 10px;
  float: right;
  width: 60%;
}

.community .inner .sns {
  padding: 80px 50px;
  background: #f4f4f4;
}

.community .inner .sns ul {
  margin: 0 -10px;
}

.community .inner .sns ul::after {
  content: '';
  display: block;
  clear: both;
}

.community .inner .sns ul li {
  float: left;
  width: calc(25% - 10px);
  margin: 0 5px;
  text-align: center;
}

.community .inner .sns ul li .pic {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.community .inner .sns ul li .pic img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.community .inner .sns ul li span {
  background: #fff;
  display: inline-block;
  width: 50%;
  position: relative;
  top: -10px;
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.community .inner .table {
  padding: 80px 50px 50px;
  background: #f4f4f4;
}

.community .inner .table table {
  width: 100%;
  border-bottom: 2px solid #ee7b34;
  margin-bottom: 50px;
}

.community .inner .table table thead tr:first-child:hover {
  background: none;
}

.community .inner .table table tr:hover {
  background: #f77e34;
  color: #fff;
}

.community .inner .table table tr:hover a {
  color: #fff;
}

.community .inner .table table tr th {
  padding: 15px;
  color: #111;
  border-bottom: 1px solid #111;
}

.community .inner .table table tr th:nth-of-type(1) {
  width: 10%;
}

.community .inner .table table tr th:nth-of-type(3) {
  width: 15%;
}

.community .inner .table table tr th:nth-of-type(4) {
  width: 15%;
}

.community .inner .table table tr td {
  padding: 13px;
  text-align: center;
}

.community .inner .table table tr td:nth-of-type(2) {
  text-align: left;
}

.community .inner .table table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}

.community .inner .table table tr td a {
  color: #333;
  font-family: 'Quicksand';
  line-height: 1.4;
}

.community .inner .table .pagination {
  width: 100%;
  text-align: center;
}

.community .inner .table .pagination::after {
  content: '';
  display: block;
  clear: both;
}

.community .inner .table .pagination .prev {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #ddd;
  text-align: center;
  transition: 0.3s;
}

.community .inner .table .pagination .prev:hover {
  background: #ee7b34;
  color: #fff;
}

.community .inner .table .pagination .next {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #ddd;
  text-align: center;
  transition: 0.3s;
}

.community .inner .table .pagination .next:hover {
  background: #ee7b34;
  color: #fff;
}

.community .inner .table .pagination .numbers {
  position: relative;
  top: -3px;
  display: inline-block;
  font-size: 0;
}

.community .inner .table .pagination .numbers a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font: 11px/50px 'Quicksand';
  color: #666;
  margin: 0 2px;
  transition: 0.5s;
}

.community .inner .table .pagination .numbers a:hover {
  background: #ee7b34;
  border-color: orange;
  color: #fff;
}

.community .inner .table .pagination .numbers a.on {
  background: #ee7b34;
  border-color: orange;
  color: #fff;
}

/*tablet ----------------------------------------*/
@media screen and (max-width: 1179px) {
  .community .inner h1 {
    font-size: 40px;
  }
  .community .inner h1 span {
    display: block;
    margin-top: 10px;
  }
  .community .inner h1 span::before {
    margin-left: 0;
  }
  .community .inner .journal_list ul li {
    width: 33.3333%;
  }
  .community .inner .faq ul li {
    width: 100%;
  }
  .community .inner .faq ul li .question p:after {
    width: 100%;
  }
  .community .inner .sns ul li .pic {
    width: 100%;
  }
  .community .inner table tr th:nth-of-type(1) {
    width: 14%;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 17%;
  }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner table tr td:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .community .top_box {
    padding: 30px;
  }
  .community .top_box .pic {
    width: 100%;
  }
  .community .top_box .text_box {
    width: 100%;
    height: auto;
    right: 0;
    top: 50%;
    transform: none;
  }
  .community .top_box .text_box p {
    margin-top: 20px;
  }
  .community .inner .journal_list ul li {
    width: 50%;
  }
  .community .inner .faq {
    padding: 50px 30px;
  }
  .community .inner .faq ul li .answer {
    width: 100%;
  }
  .community .inner .sns ul li {
    width: calc(50% - 10px);
  }
}

/*mobile ------------------------------------------*/
@media screen and (max-width: 539px) {
  .community .top_box {
    padding: 0;
    position: relative;
  }
  .community .top_box .pic {
    height: 250px;
  }
  .community .top_box .text_box {
    padding: 20px 30px;
    top: auto;
    bottom: -100px;
  }
  .community .top_box .text_box h1 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .community .top_box .text_box p {
    font-size: 14px;
  }
  .community .inner {
    margin-top: 150px;
  }
  .community .inner .journal_list ul li {
    height: 300px;
    width: 100%;
  }
  .community .inner .faq ul {
    padding: 15px;
  }
  .community .inner .faq ul li .question span {
    font-size: 25px;
  }
  .community .inner .faq ul li .question p {
    font-size: 20px;
  }
  .community .inner .faq ul li .answer p {
    font-size: 14px;
  }
  .community .inner .sns {
    padding: 30px 30px;
  }
  .community .inner .sns ul {
    margin: 0;
  }
  .community .inner .sns ul li {
    width: 100%;
    margin: 0 0 10px;
  }
  .community .inner .table {
    padding: 30px;
  }
  .community .inner .table table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner .table table tr th:nth-of-type(3) {
    width: 29%;
  }
  .community .inner .table table tr td {
    font-size: 14px;
  }
  .community .inner .table table tr td:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner .table table tr td a {
    font-size: 14px;
  }
  .community .inner .table .pagination .numbers {
    display: none;
  }
}

#header_sub.join_header {
  border-bottom: 0;
}

#header_sub.join_header .inner {
  height: 80px;
  text-align: center;
}

#header_sub.join_header .inner h1 {
  position: relative;
  bottom: auto;
}

#header_sub.join_header .inner h1 a {
  line-height: 80px;
}

.join {
  padding: 0;
}

.join .main {
  height: 500px;
  width: 100%;
  background: url(../img/big/4.jpg) no-repeat center/cover;
  text-align: center;
}

.join .main h2 {
  margin-top: 150px;
  text-align: center;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.join .main p {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
  background: #fff;
  display: block;
  width: 200px;
  margin: 50px auto 0;
}

.join .main a {
  padding: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.join .join_list {
  padding: 50px 30px 50px;
  text-align: center;
  background: #f4e1ce;
}

.join .join_list::after {
  content: "";
  display: block;
  clear: both;
}

.join .join_list li {
  position: relative;
  text-align: center;
  float: left;
  width: 25%;
  padding: 0 20px;
}

.join .join_list li:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #111;
  height: 50%;
  width: 1px;
}

.join .join_list li h3 {
  font-size: 30px;
  position: relative;
  display: inline-block;
}

.join .join_list li h3:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 7px;
  left: 0%;
  width: 100%;
  height: 5px;
  background: #e8ae94;
}

.join .join_list li h3 span {
  position: relative;
  z-index: 1;
  width: auto;
  color: #111;
}

.join .join_list li p {
  font-weight: bold;
  margin: 10px 0 20px;
  font-size: 20px;
  height: 50px;
  color: #111;
}

.join .join_list li span {
  color: #aaa;
  width: 50%;
  display: block;
  margin: auto;
}

.join .join_list li:last-child {
  margin-right: 0;
}

.join .join_list li:last-child:after {
  content: none;
}

.join .inner {
  width: 100%;
  padding: 80px 0;
  background: #f1f1f1;
}

.join .inner .cont {
  padding: 0;
  width: 1180px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 800px;
}

.join .inner .cont:after {
  content: '';
  display: block;
  clear: both;
}

.join .inner .cont .left {
  height: 100%;
  width: 50%;
}

.join .inner .cont .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join .inner .cont .right {
  background: #fff;
  float: right;
  width: 50%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.join .inner .cont .right h1 {
  margin-bottom: 30px;
}

.join .inner .cont .right h1::after {
  width: 30px;
}

.join .inner .cont .right table {
  width: 100%;
}

.join .inner .cont .right table th {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0;
  font: bold 14px/1 'Quicksand';
  color: #666;
}

.join .inner .cont .right table th:last-child {
  border: none;
  text-align: center;
  background: #fff;
  font-size: 0;
}

.join .inner .cont .right table th input[type=submit] {
  width: 150px;
  height: 40px;
  border: 1px solid #000;
  background: none;
  font: bold 14px/1 'Quicksand';
  color: #111;
  margin: 0 10px;
  transition: 0.5s;
  cursor: pointer;
  outline: 0;
}

.join .inner .cont .right table th input[type=submit]:hover {
  color: #fff;
  border: #ee7b34;
  background: #ee7b34;
}

.join .inner .cont .right table td {
  display: block;
  width: 100%;
  border-bottom: 1px solid #bbb;
  padding: 10px 0;
  margin-bottom: 40px;
}

.join .inner .cont .right table td input[type=text],
.join .inner .cont .right table td input[type=password],
.join .inner .cont .right table td select {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 5px;
}

.join .inner .cont .right table td label {
  margin-right: 10px;
}

.join .inner .cont .right table td .radio,
.join .inner .cont .right table td .checks {
  display: inline-block;
}

.join .inner .cont .right table td .hobbyTxt,
.join .inner .cont .right table td .genderTxt {
  font: 12px/1 'Quicksand';
  color: hotpink;
  margin-bottom: 5px;
  display: none;
}

.join .text_box {
  padding: 50px 0 50px;
  background: #f4e1ce;
}

.join .text_box div {
  max-width: 1180px;
  margin: 0 auto;
}

.join .text_box div p {
  margin-top: 10px;
}

/*tablet ------------------------------------------------------*/
@media screen and (max-width: 1179px) {
  .join .inner {
    padding: 50px 30px;
  }
  .join .inner .cont {
    width: 100%;
  }
  .join .inner .cont .left {
    width: 50%;
  }
  .join .inner .cont .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .join .inner .cont .right {
    float: right;
    width: 50%;
    height: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
  }
  .join .inner .cont .right h1 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .join .inner .cont .right h1::after {
    width: 100%;
  }
  .join .inner .cont .right table {
    width: 100%;
  }
  .join .inner .cont .right table th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    font: bold 14px/1 'Quicksand';
    color: #666;
  }
  .join .inner .cont .right table th:last-child {
    border: none;
    text-align: center;
    background: #fff;
    font-size: 0;
  }
  .join .inner .cont .right table td label {
    margin-right: 0;
  }
}

/*tablet*/
@media screen and (max-width: 900px) {
  .join .join_list {
    padding: 40px 15px;
  }
  .join .join_list li {
    float: none;
    width: 100%;
    padding: 0 20px 20px;
    margin-bottom: 20px;
  }
  .join .join_list li:after {
    right: auto;
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -5%;
    height: 1px;
    width: 10%;
  }
}

/*mobile --------------------------------------------------------*/
@media screen and (max-width: 539px) {
  .join {
    height: auto;
    padding-bottom: 0;
  }
  .join .inner {
    padding: 50px 0;
  }
  .join .inner .cont {
    width: 100%;
    position: relative;
    padding: 70px 30px;
    height: auto;
  }
  .join .inner .cont .left {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .join .inner .cont .right {
    position: relative;
    z-index: 1;
    float: right;
    width: 100%;
    height: auto;
    padding: 30px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
  }
  .join .inner .cont .right h1 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
  }
  .join .inner .cont .right table {
    width: 100%;
  }
  .join .inner .cont .right table th {
    color: #fff;
  }
  .join .inner .cont .right table th:last-child {
    background: none;
  }
  .join .inner .cont .right table th input[type=submit] {
    color: #fff;
    border: 1px solid #fff;
  }
  .join .inner .cont .right table td {
    display: block;
    width: 100%;
    border-bottom: 1px solid #bbb;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .join .inner .cont .right table td input[type=text],
  .join .inner .cont .right table td input[type=password],
  .join .inner .cont .right table td select {
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
  }
  .join .inner .cont .right table td label {
    margin-right: 0;
    color: #fff;
  }
  .join .text_box {
    padding: 30px;
  }
}

.about h2 {
  font-size: 3em;
  margin-bottom: 50px;
  position: relative;
}

.about h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ee7b34;
}

.about .about_box {
  position: relative;
  padding-bottom: 120px;
  background: #f9f9f9;
}

.about .about_box:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ee7b34;
  height: 60%;
  width: 100%;
}

.about .about_box .pic {
  position: relative;
  width: 70%;
  z-index: 1;
}

.about .about_box .pic img {
  width: 100%;
}

.about .about_box .text_box {
  position: absolute;
  top: 40%;
  right: 40px;
  transform: translateY(-50%);
  height: 60%;
  width: 40%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  padding: 40px;
}

.about .about_box .text_box h1 {
  margin-bottom: 20px;
}

.about .about_box .text_box h2 {
  margin-bottom: 30px;
  text-align: left;
  font-size: 20px;
}

.about .about_box .text_box p {
  font-size: 18px;
  line-height: 1.3;
}

.about .is_about {
  background: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 80px;
}

.about .is_about ul {
  margin: 0 -20px;
  padding: 0 40px;
}

.about .is_about ul:after {
  content: '';
  display: block;
  clear: both;
}

.about .is_about ul li {
  position: relative;
  float: left;
  width: calc(33.3333% - 40px);
  margin: 0 20px;
}

.about .is_about ul li:last-child {
  margin-right: 0;
}

.about .is_about ul li .pic {
  height: 400px;
}

.about .is_about ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .is_about ul li .text_box {
  position: relative;
  top: -50px;
  background: #fff;
  width: 90%;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
}

.about .is_about ul li .text_box span {
  position: absolute;
  top: -10px;
  background: #000;
  color: #fff;
  padding: 2px 5px;
  font-size: 14px;
}

.about .is_about ul li .text_box h3 {
  font-size: 18px;
  line-height: 1.2;
}

.about .is_about ul li .text_box p {
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}

.about .is_about ul li:nth-of-type(2) {
  top: 50px;
}

.about .is_about ul li:nth-of-type(3) {
  top: 100px;
  left: 0;
}

.about .about_with {
  margin-top: 100px;
  position: relative;
  height: 200vh;
}

.about .about_with::after {
  content: '';
  display: block;
  clear: both;
}

.about .about_with article {
  width: 40%;
  position: absolute;
}

.about .about_with article::after {
  content: '';
  display: block;
  clear: both;
}

.about .about_with article .text_con {
  border: 5px solid #85afbf;
  padding: 30px;
}

.about .about_with article .text_con p {
  font-size: 20px;
  line-height: 1.5;
  color: #85afbf;
}

.about .about_with article .pic {
  position: relative;
  z-index: 1;
  width: 100%;
}

.about .about_with article .pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.about .about_with article .text_line {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.about .about_with article .text_line h3 {
  margin-bottom: 30px;
  font-size: 40px;
}

.about .about_with article .text_line p {
  font-size: 18px;
}

.about .about_with article:nth-of-type(1) {
  top: 10%;
  left: 0;
}

.about .about_with article:nth-of-type(1) .text_line {
  left: 120%;
}

.about .about_with article:nth-of-type(2) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about .about_with article:nth-of-type(2) .text_line {
  right: 120%;
}

.about .about_with article:nth-of-type(3) {
  left: 0%;
  transform: translateX(0%);
  bottom: 0;
}

.about .about_with article:nth-of-type(3) .text_box {
  background: #ee7b34;
  position: absolute;
  z-index: 1;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.about .about_with article:nth-of-type(3) .text_box h3 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
}

.about .about_with article:nth-of-type(3) .text_box p {
  font-size: 18px;
  color: #fff;
}

.about .Organization {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
}

.about .Organization .o_box {
  margin: 0 auto;
  width: 180px;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.about .Organization .o_box p {
  font-size: 16px;
}

.about .Organization .o_box span {
  font-size: 14px;
}

.about .Organization .long_txt {
  padding: 10px 20px;
}

.about .Organization ul {
  margin-top: 50px;
  text-align: center;
  font-size: 0;
  margin: 0 auto;
}

.about .Organization ul:after {
  content: '';
  display: block;
  clear: both;
}

.about .Organization ul li {
  position: relative;
  margin: 0 20px;
  float: left;
}

.about .Organization ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #ff6100;
}

.about .Organization > ul > li:first-child {
  margin: 0;
}

.about .Organization > ul > li:first-child::before {
  display: none;
}

.about .Organization .list01 {
  position: relative;
  max-width: 660px;
  margin: 50px auto;
}

.about .Organization .list01::before {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 440px;
  height: 1px;
  background: #ff6100;
}

.about .Organization .list01 li:nth-child(2):before {
  top: -70px;
}

.about .Organization .list02 {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.about .Organization .list02::before {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 880px;
  height: 1px;
  background: #ff6100;
}

.about .Organization .list02 li:nth-child(3):before {
  top: -50px;
}

.about .Organization .list02 li:nth-child(6) {
  margin-left: 130px;
}

.about .Organization .list02 li:nth-child(n + 6) {
  position: relative;
  margin-top: 20px;
}

.about .Organization .list02 li:nth-child(n + 6)::before {
  height: 130px;
  top: -125px;
}

/*tablet --------------------------------------------------------*/
@media screen and (max-width: 1179px) {
  .about .inner {
    padding: 0 15px;
  }
  .about .inner .about_box {
    padding-bottom: 0;
  }
  .about .inner .about_box:after {
    bottom: 0%;
    height: 10%;
  }
  .about .inner .about_box .pic {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .about .inner .about_box .pic img {
    width: 100%;
  }
  .about .inner .about_box .text_box {
    position: relative;
    top: auto;
    bottom: 50px;
    right: 0;
    transform: translateY(0);
    height: 60%;
    width: 100%;
    padding: 20px;
  }
  .about .inner .about_box .text_box h1 {
    margin-bottom: 10px;
  }
  .about .inner .about_box .text_box h2 {
    margin-bottom: 30px;
  }
  .about .inner .about_box .text_box p {
    font-size: 20px;
    line-height: 1.2;
  }
  .about .inner .is_about h2 {
    margin-bottom: 25px;
  }
  .about .inner .is_about ul {
    margin: 0 -10px;
    padding: 0;
  }
  .about .inner .is_about ul li {
    width: calc(33.3333% - 20px);
    margin: 0 10px;
  }
  .about .inner .is_about ul li .pic {
    height: 300px;
  }
  .about .inner .is_about ul li .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about .inner .is_about ul li .text_box {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: auto;
    padding: 10px;
  }
  .about .inner .is_about ul li .text_box h3 {
    margin-top: 10px;
    font-size: 16px;
  }
  .about .inner .Organization ul {
    max-width: 480px;
  }
  .about .inner .Organization ul li::before {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
  }
  .about .inner .Organization ul li .o_box {
    width: 150px;
  }
  .about .inner .Organization .list01 {
    max-width: 480px;
  }
  .about .inner .Organization .list01::before {
    width: 320px;
  }
  .about .inner .Organization .list01 li {
    margin: 0 5px;
  }
  .about .inner .Organization .list01 li:nth-child(2):before {
    top: -70px;
  }
  .about .inner .Organization .list02 {
    max-width: 480px;
    margin: 0 auto;
    position: relative;
  }
  .about .inner .Organization .list02::before {
    top: 0;
    width: 320px;
  }
  .about .inner .Organization .list02 li {
    margin: 0 5px;
  }
  .about .inner .Organization .list02 li:nth-child(3):before {
    top: 0;
  }
  .about .inner .Organization .list02 li:nth-child(6) {
    margin-left: 0;
  }
  .about .inner .Organization .list02 li:nth-child(n) {
    margin-top: 20px;
  }
  .about .inner .Organization .list02 li:nth-child(n)::before {
    height: 100%;
    top: -20px;
  }
  .about .inner .Organization .list02 li:nth-child(2):before {
    top: -70px;
  }
}

@media screen and (max-width: 900px) {
  .about .about_with {
    height: auto;
  }
  .about .about_with article {
    position: relative;
    width: 100%;
    top: auto;
    margin-top: 50px;
  }
  .about .about_with article .text_con {
    padding: 20px;
  }
  .about .about_with article:nth-of-type(1) {
    top: auto;
  }
  .about .about_with article:nth-of-type(1) .text_line {
    margin-top: 30px;
    position: relative;
    left: 0;
    top: auto;
    transform: translateY(0);
  }
  .about .about_with article:nth-of-type(1) .text_line h3 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .about .about_with article:nth-of-type(1) .text_line p {
    font-size: 14px;
  }
  .about .about_with article:nth-of-type(2) {
    top: auto;
    transform: translateY(0);
  }
  .about .about_with article:nth-of-type(2) .text_line {
    margin-top: 20px;
    position: relative;
    right: auto;
    transform: none;
  }
  .about .about_with article:nth-of-type(2) .text_line h3 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .about .about_with article:nth-of-type(2) .text_line p {
    font-size: 14px;
  }
  .about .about_with article:nth-of-type(3) {
    top: auto;
    transform: translateY(0);
  }
  .about .about_with article:nth-of-type(3) .text_box {
    position: relative;
    right: auto;
    padding: 20px;
  }
  .about .about_with article:nth-of-type(3) .text_box h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .about .about_with article:nth-of-type(3) .text_box p {
    font-size: 14px;
  }
}

/*mobile -------------------------------------------------------*/
@media screen and (max-width: 539px) {
  .about .inner .is_about ul {
    margin: 0;
  }
  .about .inner .is_about ul li {
    width: 100%;
    margin: 0;
  }
  .about .inner .is_about ul li .pic {
    height: 250px;
  }
  .about .inner .is_about ul li .text_box {
    top: 0;
  }
  .about .inner .Organization ul {
    max-width: 520px;
  }
  .about .inner .Organization ul li::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
  }
  .about .inner .Organization ul li .o_box {
    width: 100%;
    height: 60px;
    padding: 10px;
  }
  .about .inner .Organization .list01 {
    margin: 0 auto;
  }
  .about .inner .Organization .list01::before {
    display: none;
  }
  .about .inner .Organization .list01 li {
    width: 100%;
    margin: 20px 0 0;
  }
  .about .inner .Organization .list01 li:nth-child(2):before {
    top: -20px;
  }
  .about .inner .Organization .list02 {
    margin: 0 auto;
    position: relative;
  }
  .about .inner .Organization .list02::before {
    display: none;
  }
  .about .inner .Organization .list02 li {
    width: 100%;
    margin: 0;
  }
  .about .inner .Organization .list02 li:nth-child(2):before {
    top: -20px;
  }
  .about .inner .Organization .list02 li:nth-child(n) {
    margin-top: 20px;
  }
  .about .inner .Organization .list02 li:nth-child(n)::before {
    height: 100%;
    top: -20px;
  }
}

/*header --------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s;
}

#header.on {
  background: rgba(0, 0, 0, 0.8);
}

#header.on .inner {
  height: 80px;
}

#header .inner {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

#header .inner > h1 {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 5px;
}

#header .inner > h1 > a {
  font: bold 40px/1 "Oswald";
  color: #ff6200;
}

#header .inner #gnb {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
}

#header .inner #gnb::after {
  content: '';
  display: block;
  clear: both;
}

#header .inner #gnb li {
  float: left;
}

#header .inner #gnb li a {
  display: block;
  padding: 14px 40px;
  font: bold 14px/1 "Quicksand";
  color: #fff;
}

#header .inner #gnb li a:hover {
  background: #ee7b34;
  color: #fff;
}

#header .inner .util {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#header .inner .util li {
  float: left;
  margin-left: 20px;
}

#header .inner .util li a {
  font: 12px/1 "Quicksand";
  color: #999;
}

#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}

#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}

#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}

#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: 0.5s;
}

#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}

#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}

#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}

#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #333;
  padding: 35px 30px;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  transition: 0.5s;
}

#header .inner .menuMo.on {
  left: 0;
}

#header .inner .menuMo h1 {
  border-bottom: 1px solid #666;
  padding-bottom: 30px;
}

#header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "Quicksand";
  color: #fff;
  text-align: center;
}

#header .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}

#header .inner .menuMo ul li a {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "Quicksand";
  color: #888;
  text-align: center;
}

/*visual ---------------------------------------------------*/
#visual {
  width: 100%;
  height: 100vh;
  background: #000;
}

#visual .visual_slider {
  height: 100%;
  overflow: hidden;
}

#visual .visual_slider .panel {
  position: relative;
  width: 100%;
  height: 100%;
}

#visual .visual_slider .panel li {
  position: relative;
}

#visual .visual_slider .panel li .text_box {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 5;
}

#visual .visual_slider .panel li .text_box span {
  font-size: 18px;
  color: #fff;
}

#visual .visual_slider .panel li .text_box h2 {
  margin: 50px 0;
  font-size: 50px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

#visual .visual_slider .panel li .text_box p {
  font-size: 25px;
  color: #fff;
}

#visual .visual_slider .panel li:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#visual .visual_slider .panel .con1:after {
  background-image: url(../img/main/visual01.jpg);
}

#visual .visual_slider .panel .con2:after {
  background-image: url(../img/main/visual02.jpg);
}

#visual .visual_slider .panel .con3:after {
  background-image: url(../img/main/visual03.jpg);
}

#visual .swiper-pagination {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: auto;
}

#visual .swiper-pagination:after {
  content: '';
  display: block;
  clear: both;
}

#visual .swiper-pagination span {
  float: left;
  display: block;
  border-radius: 0;
  background: #fff;
  margin: 0;
  height: 100px;
  width: 200px;
  opacity: 1;
  color: #111;
  font-size: 20px;
  transition: 1s;
  padding: 25px;
  box-sizing: border-box;
  font-weight: 700;
}

#visual .swiper-pagination .swiper-pagination-bullet-active {
  background: #ee7b34;
}

#visual .tab_list {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
}

#visual .tab_list:after {
  content: '';
  display: block;
  clear: both;
}

#visual .tab_list li {
  float: left;
  height: 100px;
  width: 200px;
}

/*main ---------------------------------------------------*/
main {
  background: #f4f4f4;
  /*new ---------------------------------------------------*/
  /*about ---------------------------------------------------*/
}

main .inner {
  max-width: 1180px;
  margin: 0 auto;
}

main section > h2 {
  font-size: 3em;
  margin-bottom: 50px;
  position: relative;
}

main section > h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ee7b34;
}

main #new {
  padding: 80px 0;
}

main #new ul {
  margin: 0 -20px;
}

main #new ul:after {
  content: '';
  display: block;
  clear: both;
}

main #new ul li {
  float: left;
  width: calc(33.3333% - 40px);
  margin: 0 20px;
  position: relative;
  transition: 1s;
}

main #new ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

main #new ul li .pic {
  height: 500px;
  width: 100%;
}

main #new ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main #new ul li .text_box {
  background: #fff;
  padding: 30px 20px;
  position: absolute;
  width: 85%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

main #new ul li .text_box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

main #new ul li .text_box p {
  font-size: 16px;
  margin-bottom: 20px;
}

main #new ul li .text_box span {
  font-size: 14px;
}

main #new ul li:nth-of-type(1) {
  top: 50px;
}

main #new ul li:nth-of-type(2) {
  top: 100px;
}

main #new ul li:nth-of-type(3) {
  top: 150px;
}

main #new ul.on li:nth-of-type(1) {
  top: 0;
}

main #new ul.on li:nth-of-type(2) {
  top: 0;
}

main #new ul.on li:nth-of-type(3) {
  top: 0;
}

main #about {
  position: relative;
  padding: 80px 0;
}

main #about::after {
  content: '';
  display: block;
  clear: both;
}

main #about .text_con {
  position: relative;
  height: 270px;
  width: 70%;
  float: right;
  overflow: hidden;
}

main #about .text_con .text_list {
  position: absolute;
  top: 0;
}

main #about .text_con .text_list::after {
  content: '';
  display: block;
  clear: both;
}

main #about .text_con .text_list li {
  float: left;
  transition: 0.5s;
}

main #about .text_con .text_list li h3 {
  font-size: 2em;
}

main #about .text_con .text_list li p {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
}

main #about .text_con .text_list li p strong {
  font-weight: 700;
  display: block;
  font-size: 25px;
  margin-bottom: 30px;
  color: #8d8dd9;
}

main #about .btn {
  position: absolute;
  left: 0;
  bottom: 80px;
}

main #about .btn::after {
  content: '';
  display: block;
  clear: both;
}

main #about .btn li {
  width: 50px;
  height: 50px;
}

main #about .btn li a {
  display: block;
  text-align: center;
  cursor: pointer;
}

main #about .btn li a i {
  font-size: 20px;
  color: #000;
  line-height: 50px;
}

main #about .btn li:nth-of-type(1) {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main #about .btn li:nth-of-type(2) {
  background: #ee7b34;
  margin-left: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main #about .btn li:nth-of-type(2) a i {
  color: #fff;
}

main #repair {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 180px;
  margin-bottom: 250px;
  background: url(../img/main/repair.jpg) no-repeat center/cover;
}

main #repair h2 {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

main #repair .repair_con {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
}

main #repair .repair_con::after {
  content: '';
  display: block;
  clear: both;
}

main #repair .repair_con .r_con {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 300px;
  float: left;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-bottom: 3px solid #72799c;
}

/*footer ---------------------------------------*/
#footer {
  width: 100%;
  padding: 100px 0;
  background: #444;
}

#footer .inner {
  width: 1180px;
  margin: 0 auto;
}

#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}

#footer .inner h1 {
  float: left;
  font: bold 24px/1 "Quicksand";
  color: #666;
}

#footer .inner ul {
  float: right;
}

#footer .inner ul li {
  float: left;
  margin-left: 20px;
}

#footer .inner ul li a {
  font: bold 14px/1 "Quicksand";
  color: #666;
}

#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "Quicksand";
  color: #777;
  border-top: 1px solid #888;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

#footer .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "Quicksand";
  color: #777;
}

/*tablet -------------------------------------*/
@media screen and (max-width: 1179px) {
  /*header --------------------------------------------*/
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner > h1 {
    left: 30px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  /*visual ---------------------------------------------------*/
  #visual {
    height: calc(100vh - 101px);
    background: url(../img/visual1.jpg) no-repeat center/cover;
  }
  #visual video {
    display: none;
  }
  #visual .inner {
    width: 100%;
    padding: 0 30px;
  }
  #visual .inner h1 {
    font-size: 14vmin;
  }
  #visual .inner a {
    width: 100%;
  }
  /*news ------------------------------------------*/
  #news {
    padding: 100px 30px;
  }
  #news .inner {
    width: 100%;
  }
  #news .inner .wrap article {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 60px;
  }
  #news .inner .wrap article:nth-of-type(even) {
    margin-right: 0;
  }
  #news .inner .wrap article .pic {
    height: 20vmax;
  }
  /*brand ----------------------------------------*/
  #brand {
    padding: 100px 30px;
  }
  #brand .inner {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(1) {
    width: 49%;
    margin-right: 2%;
  }
  #brand .inner .wrap article:nth-of-type(1) a {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 49%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 49%;
  }
  #brand .inner .wrap article:nth-of-type(4) {
    width: 100%;
  }
  /* banner --------------------------------------*/
  #banner {
    padding: 150px 30px;
  }
  #banner .inner {
    width: 100%;
  }
  /*comments -------------------------------------------------*/
  #comments {
    padding: 100px 30px;
  }
  #comments .inner {
    width: 100%;
  }
  #comments .inner ul li a {
    margin-bottom: 20px;
  }
  /*footer ---------------------------------------*/
  #footer {
    padding: 80px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}

/*mobile ------------------------------------*/
@media screen and (max-width: 539px) {
  /*visual ---------------------------------------------------*/
  #visual .inner h1 {
    font-size: 12vmin;
  }
  /*news ------------------------------------------*/
  #news .inner .wrap article {
    width: 100%;
    margin-right: 0%;
  }
  #news .inner .wrap article .pic {
    height: 30vmax;
  }
  /*brand ----------------------------------------*/
  #brand .inner .wrap article:nth-of-type(1) {
    width: 100%;
    height: 400px;
    margin-right: 0%;
    margin-bottom: 20px;
    padding: 50px;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(4) {
    width: 100%;
  }
  /* banner --------------------------------------*/
  #banner {
    padding: 120px 30px;
  }
  /*footer ---------------------------------------*/
  #footer .inner ul {
    margin-top: 20px;
    float: left;
  }
  #footer .inner ul li {
    margin: 0 10px 0 0;
  }
}
