.location {
  position: relative;
  transition: 0.5s;
  .inner {
    .visual {
      .mask {
        width: 100%;
        height: 500px;
        position: relative;
        transition: 0.5s;
        .pic {
          width: 300px;
          position: absolute;
          top: 50%;
          left: 100px;
          transform: translateY(-50%);
          z-index: 2;
          border: 2px solid #111;
          transition: 0.5s;
          img {
            display: block;
          }
        }

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: url(../img/location/visual02.jpg) no-repeat bottom/cover;
          filter: blur(5px);
        }
      }

      .maps {
        position: relative;
        margin-top: 50px;
        margin-bottom: 80px;
        transition: 0.5s;

        &::after {
          content: '';
          display: block;
          clear: both;
        }
      
        .left {
          width: 40%;
          .text_box {
            transition:0.5s;
          h2 {
            font-size: 30px;
            margin-bottom: 30px;
          }
        }
      }

        .right {
          position: absolute;
          right: 50px;
          bottom: 0;
          width: 50%;
          height: 400px;
          transition:0.5s;
      
          #map {
            width: 100%;
            height: 100%;

          }

          .map_list {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            &::after {
              content: '';
              display: block;
              clear: both;
            }

            li {
              float: left;
              width: 33.3333%;
              height: 40px;
              line-height: 40px;
              text-align: center;

              a {
                display: block;
                color: #111;
                font-weight: 700;
                transition: 0.5s;
              }

              &.on {
                a {
                  background: $bgColor;
                  color: #fff;
                }
              }
            }
          }
        }

      }
    }
  }

  .banner_con {
    margin-top: 160px;

    .text_box {
      max-width: 1180px;
      margin: 0 auto 50px;

      h2 {
        font-size: 3em;
        margin-bottom: 20px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: #ee7b34;
        }
      }
    }
  }

  .banner {
    overflow: hidden;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .8);

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .list {
      li {
        float: left;
        width: 240px;
        height: 240px;
        opacity: 0.3;
        transition: 0.5s;

        &:hover {
          opacity: 1;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
          }
        }
      }
    }

    .prev {
      position: absolute;
      left: -120px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: 0.5s;
      background: rgba(0, 0, 0, 0.8);
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;

      i {
        color: #fff;
      }
    }

    .next {
      position: absolute;
      right: -120px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: 0.5s;
      background: rgba(0, 0, 0, 0.8);
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;

      i {
        color: #fff;
      }
    }

    &:hover {
      .prev {
        left: 20px;
        opacity: 1;
      }

      .next {
        right: 20px;
        opacity: 1;
      }

    }
  }
}

aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .9);
  padding: 5vw;
  opacity: 0;


  .pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 3px solid $pointColor;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  span {
    position: absolute;
    top: 40px;
    right: 40px;
    font: bold 12px/1 'arial';
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width:$tablet) {
  .location {
    .inner {
      .visual {
        .mask {
          .pic {
            left: 30px;
          }
        }
        .maps {
          .left {
            width: 50%;
            position: absolute;
            top: -400px;
            right: 20px;
            background: rgba(255, 255, 255, 0.5);
            padding: 20px;
          }
          .right {
            position: relative;
            right: 0;
            bottom: 0;
            width: 100%;
            #map {
              width: 100%;
              height: 100%;
              .map_list {
                &::after {
                  content: '';
                  display: block;
                  clear: both;
                }
                li {
                  float: left;
                  width: 33.3333%;
                  height: 40px;
                  line-height: 40px;
                  text-align: center;
                  a {
                    display: block;
                    color: #111;
                    font-weight: 700;
                    transition: 0.5s;
                  }
                  &.on {
                    a {
                      background: $bgColor;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .banner_con {
      .text_box {
        padding: 0 30px;
      }
    }
  }
}



@media screen and (max-width:$mini) {
  .location {
    .inner {
      .visual {
        .mask {
          display: none;
        }


        .maps {
          .left {
            width: 100%;
            position: relative;
            top: auto;
            right: 0;
            float: none;
            z-index: 2;
            padding: 20px;
            height: 300px;
            background: none;

            .text_box {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              z-index: 3;

              h2 {
                position: relative;
                z-index: 2;
                color: #fff;
              }

              p {
                position: relative;
                z-index: 2;
                color: #fff;
              }
            }

            &::after {
              position: absolute;
              top: 0;
              left: 0;
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              background: url(../img/location/visual02.jpg) no-repeat bottom/cover;
              filter: blur(5px);
            }
          }

          .right {
            height: 300px;
            position: relative;
            float: none;
            right: 0;
            bottom: 0;
            width: 100%;

            #map {
              width: 100%;
              height: 100%;
            }

            .map_list {
              li {
                a {
                  display: block;
                  color: #111;
                  font-weight: 700;
                  transition: 0.5s;
                  font-size: 12px;

                }

                &.on {
                  a {
                    background: $bgColor;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .banner_con {

    .text_box {
      padding: 0 30px;
    }
  }
}



@media screen and (max-width:$mobile) {
  .location {
    .inner {
      .visual {
        .mask {
          display: none;
        }

        .maps {
          .left {
            width: 100%;
            position: relative;
            top: auto;
            right: 0;
            float: none;
            z-index: 2;
            padding: 0;
            margin-bottom: 20px;
            background: none;
          }

          .right {
            height: 300px;
            position: relative;
            float: none;
            right: 0;
            bottom: 0;
            width: 100%;

            #map {
              width: 100%;
              height: 100%;
            }

            .map_list {
              li {
                a {
                  display: block;
                  color: #111;
                  font-weight: 700;
                  transition: 0.5s;
                  font-size: 12px;

                }

                &.on {
                  a {
                    background: $bgColor;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }

    .banner_con {

      .text_box {
        padding: 0 30px;
      }
    }
  }
}




